:root {
  --backgroud-color: #15202B;
  --text-color: #fff
}

.main__container {
  background: var(--backgroud-color);
  color: white;
  height: 100%;
  width: 100%;
}

.main__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.main__link {
  color: var(--text-color);
  text-decoration: none;
}

.main__scan-link {
  background: var(--text-color);
  border-radius: 100%;
  color: var(--backgroud-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  height: 2rem;
  width: 2rem;
}
